<launch>

    <!-- <include file="$(find robot_description)/launch/amcl.launch.xml"/> -->

    <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_description)/map/free.yaml"/>

    <!-- move_base -->
    <arg name="cmd_vel_topic" default="cmd_vel" />
    <arg name="odom_topic" default="odom" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_global_planner" value="global_planner/GlobalPlanner" />
        <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" />
        <param name="recovery_behavior_enabled" value="true"/>
        <param name="clearing_rotation_allowed" value="false"/>
        <!-- <rosparam file="$(find robot_description)/param/gazebo/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find robot_description)/param/gazebo/costmap_common_params.yaml" command="load" ns="local_costmap" /> -->
        <rosparam file="$(find robot_description)/param/gazebo/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find robot_description)/param/gazebo/global_costmap_params.yaml" command="load" />
        <!-- <rosparam file="$(find robot_description)/param/gazebo/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find robot_description)/param/gazebo/base_local_planner_params.yaml" command="load" /> -->
        <rosparam file="$(find robot_description)/param/gazebo/eband_local_planner_params.yaml" command="load" />
        <rosparam file="$(find robot_description)/param/gazebo/move_base_params.yaml" command="load" />
        <rosparam file="$(find robot_description)/param/gazebo/move_base_params.yaml" command="load" />
        <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
        <remap from="odom" to="$(arg odom_topic)"/>
    </node>


    <include file="$(find comm_client)/launch/Comm_Simulation.launch"/>

</launch>
